{
  "ASSISTANT_APIKEY": "Ub0HK5fmvuhcHZpWqhoJ_Hfb6r-FUvdQl8gW5HyuvcRD",
  "ASSISTANT_URL": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/a1c84fc4-06aa-4d9b-8213-987434d609c4",
  "SKILL_ID": "c36b1483-7fb9-494d-8573-ed261228a087"
}
